<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Department</title>
</head>
<body>
      <h1  align="center">InfoDevelopers Pvt. Ltd.</h1>
      <h3 align="center">Sanepa-2, Lalitpur</h3>
      <hr>
      <a href="/home">Home</a> | <a href="/department/show">Department List</a>
      <h1 align="centre">Add Department</h1>
      <form action="" method="post">
        Department Name: <input type="text" name="dpt_name"><br><br>
        Department Phone: <input type="text" name="dpt_phone"><br><br>
        Department Head: <input type="text" name="dpt_hod"><br><br>
        <input type="submit" name="add" value="Add">
      </form>

</body>
</html>