<!DOCTYPE html>
<html lang="en" xmlns:th="https:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department List</title>
</head>
<body>
    <h1  align="center">InfoDevelopers Pvt. Ltd.</h1>
    <h3 align="center">Sanepa-2, Lalitpur</h3>
    <hr>
    <a href="/home">Home</a> | <a href="/department/add">Add Department</a>
    <h3>Department List</h3>
    <table border="1">
      <thead>
        <tr>
          <th>Department Name</th>
          <th>Department Phone</th>
          <th>Department Head</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="d: ${dlist}">
          <td>[[${d.dpt_name}]]</td>
          <td>[[${d.dpt_phone}]]</td>
          <td>[[${d.dpt_hod}]]</td>
          <td>
              <a th:href="@{/department/edit(id=${d.dpt_id})}"><input type="submit" name="edit" value="Edit"></a>
              <a th:href="@{/department/delete(id=${d.dpt_id})}"><input type="submit" name="delete" value="Delete"></a>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>