<!DOCTYPE html >
<html lang="en" xmlns:th ="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp Form</title>
</head>
<body>
    <h1  align="center">InfoDevelopers Pvt. Ltd.</h1>
    <h3 align="center">Sanepa-2, Lalitpur</h3>
    <hr>
    <hr>
    <a href="/">Home</a> | <a href="/login">LogIn</a>
    <h1 align="centre">SignUp</h1>
    <form action="" method="post">
        FirstName: <input type="text" name="fname"><br><br>
        LastName: <input type="text" name="lname"><br><br>
        E-mail: <input type="email" name="email"><br><br>
        Password: <input type="password" name="password"><br><br>
        <input type="submit" name="signup" value="SignUp">
    </form>
</body>
</html>